<html>
<head>
    <title>$i18n.getText("grape.plugin.menu.title")</title>
    <meta name="decorator" content="atl.admin" />
</head>
<body>

#if($show_invalid_token)
<br>
<label>$i18n.getText("grape.plugin.admin.invalidtoken")</label>
<br>
#end
<form id="admin" class="aui" action="" method="post">
    <div class="field-group">
        <label for="url">$i18n.getText("grape.plugin.admin.url.label")</label>
        <input type="text" id="url" name="url" class="text" value="$input_url">
    </div>
    <div class="field-group">
        <label for="token">$i18n.getText("grape.plugin.admin.token.label")</label>
        <input type="text" id="token" name="token" class="text" value="$input_token">
    </div>
    <div class="field-group">
        <input type="submit" id="saveconfig" value="$i18n.getText("grape.plugin.admin.save.label")" class="button">
    </div>
</form>

<br>
<label>$debug_output</label>
<br>

</body>
</html>